<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movies data</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>
    <div class="container-mt5">
        <form action="getmoviedata">
            <h2 class="text-center alert alert-danger">Get Movies Details</h2>
            <input type="text" class = "container-mt5" name="title" placeholder = "type fav movie name">
            <button type="submit" class="btn btn-success">Search</button>
        </form>
    </div>
</body>
</html>